<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <h2>Update your account info</h2>

    <%= form_for(resource, builder: BasicFormBuilder, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.text_field :first_name, autofocus: true %>
      <%= f.text_field :last_name %>
      <%= f.email_field :email %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.password_field :password, :autocomplete => "off" %>
      <%= f.password_field :password_confirmation %>
      <%= f.password_field :current_password %>
      
      <%= f.submit "Update Account", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
