<%= render 'layouts/error' %>
<%= status_message(@subscription) %>
<h1> Billing and Invoices</h1>
<h3>Current Plan: <%= @subscription.name %></h3>
<%= link_to "Change Plan", change_plan_path %>


<h3>Invoices</h3>
<p>Your invoices are being emailed to: <%= @subscription.billing_email %></p>
<%= link_to "Update Invoice", root_path %>


<h3>Credit Card </h3>
<%= link_to "Update Credit Card Detail", edit_subscription_path(current_user.subscription) %>


<h3>Cancel Your Account</h3>
<%= link_to 'Delete', cancel_subscription_path, data: {confirm: 'Are you sure you want to delete this account, no take backsies?'} %>